/*
 * Credits for the terminal effects:
 * Scanlines/flicker: 	http://aleclownes.com/2017/02/01/crt-display.html
 * Screen turn-off:		https://codepen.io/lbebber/pen/XJRdrV
 * Post-It note:		https://mentormate.com/blog/css-postit-note/
 */
@import url("https://fonts.googleapis.com/css?family=VT323&display=swap");

/*********** VARIABLES *************/

:root {
	--green-color: #5bf870;
	--green-bg: #05321e;
	--red-color: #c0100a;
	--red-bg: #1b0302;
	--blue-color: #a5a5ff;
	--blue-bg: #4242e7;
	--off: #050505;
	--dark: #111;
	--term: "> ";
}

/*********** THEMES  *************/
/** Use --color and --bg in your CSS files to get the active text and bg colour. */
/** One of these theme classes is applied to the <body>, so the whole document uses that theme */
.theme-red {
	--color: var(--red-color);
	--bg: var(--red-bg);
	--term: "$ ";
}
.theme-green {
	--color: var(--green-color);
	--bg: var(--green-bg);
}
.theme-blue {
	--color: var(--blue-color);
	--bg: var(--blue-bg);
	--term: "";
}

/** Theme specific stuff from here */
.theme-red .char {
	animation: type 0.5s linear 0s 1;
}
.theme-red #crt {
	font-family: "Share Tech Mono", monospace;
	font-size: max(1rem, 1.6vmin);
}
.theme-blue #crt {
	background-image: none;
	background-color: var(--color);
	box-shadow: none;
	border-radius: 1em;
	padding: 3rem;
}
.theme-blue #monitor:not(.off) #crt:before {
	background: none;
	background-color: var(--bg);
	top: 3rem;
	left: 3rem;
	bottom: 3rem;
	right: 3rem;
	z-index: 0;
}
.theme-blue .scanline {
	display: none;
}
.theme-blue .terminal {
	padding: 0;
}

/*********** GENERIC STUFF *************/
html {
	height: 100% !important;
	width: 100% !important;
	box-sizing: border-box;
}
*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	height: 100% !important;
	width: 100% !important;
	background: #111;
	margin: 0;
	font-family: VT323, monospace;
	overflow: hidden;
}


/*********** INPUT / OUTPUT *************/

#prompt {
	display: none;
}
[contenteditable] {
	caret-color: transparent; /** This hides the default browser caret */
	outline: none;
}
#input {
	position: relative;
	display: block;
	white-space: pre-wrap;
}
/* Inserts the > before terminal input */
#input:before {
	content: var(--term);
}
/* Puts a blinking square after the content as replacement for caret */
#input[contenteditable="true"]:after,
.typer.active:after {
	content: "■";
	animation: cursor 1s infinite;
	animation-timing-function: step-end;
	margin-left: 1px;
	line-height: 1rem;
}

#input.password .char {
	display: none;
}
#input.password:after {
	color: var(--color);
}
#input.password:before {
	color: var(--color);
	content: var(--term) attr(data-pw);
}

.typer {
	word-break: break-all;
}

/*********** PARTS OF THE SCREEN *************/

#monitor {
	width: 100%;
	height: 100%;
	display: inline-block;
	padding: 3vmin;
	align-items: center;
	background: #3f3933;
	border-radius: 0.5rem;
	z-index: 1000;
	overflow: hidden;
}
#monitor:not(.off) {
	box-shadow: 0.6px 90px 110px -60px var(--bg); /* screen glow */
}
#screen {
	width: 100%;
	height: 100%;
	position: relative;
	border: 30px solid transparent;
	border-image-source: url(../img/bezel_gray.png);
	border-image-slice: 30 fill;
	border-image-outset: 0;
	z-index: 500;
	overflow: hidden;
}
/* The screen itself + border */
#crt,
pre {
	font-family: VT323, monospace;
	font-variant-numeric: tabular-nums;
}
#crt {
	height: calc(100vh - 6vmin - 60px);
	font-size: max(
		2rem,
		4vmin
	); /* Scale the font-size relative to the minimum screen dimension */
	position: relative;
	background: var(--bg);
	background-image: radial-gradient(
		ellipse,
		var(--bg) 0%,
		var(--off) 90%
	);
	animation: on 2s linear;
	transition: all 0.5s;
	overflow: hidden;
}

#crt:after {
	content: " ";
	opacity: 0;
	background: #fff;
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 100%;
	pointer-events: none;
	z-index: 3;
	overflow: hidden;
}
#monitor.turn-off #crt:after {
	animation: turnOff 0.4s ease-in-out;
	/* animation-fill-mode: forwards; */
}

#monitor:not(.off) #crt:before {
	content: " ";
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background: linear-gradient(
		to bottom,
		rgba(18, 16, 16, 0.1) 50%,
		rgba(0, 0, 0, 0.25) 50%
	);
	background-size: 100% 3px;
	z-index: 2;
	pointer-events: none;
	animation: fadeIn 2s;
	overflow: hidden;
}

/* Screen turned off */
#monitor.off #crt {
	background: var(--off);
}
#monitor.off #crt:before {
	background: none;
}
#monitor.off #crt * {
	display: none !important;
}

body.fullscreen #crt {
	font-size: 2.5rem;
	position: fixed;
	width: 100%;
	left: 0;
	top: 0;
	z-index: 999;
}

.fullscreen {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
}

.terminal {
	position: relative;
	height: 100%;
	padding: 2rem;
	word-break: break-word;
	text-transform: uppercase;
	animation: textShadow 4s infinite;
}

.terminal,
.fullscreen {
	color: var(--color);
	text-shadow: 0 0 5px #c8c8c8;
}

::selection {
	background: var(--color);
	color: var(--bg);
	text-shadow: none;
}

/* Scanline moving top to bottom over the screen */
.scanline {
	width: 100%;
	height: 100px;
	z-index: 8;
	background: linear-gradient(
		0deg,
		rgba(0, 0, 0, 0) 0%,
		rgba(255, 255, 255, 0.2) 10%,
		rgba(0, 0, 0, 0.1) 100%
	);
	opacity: 0.1;
	position: absolute;
	bottom: 100%;
	pointer-events: none;
	animation: scanline 10s linear infinite;
}

/*********** CONTROLS *************/
button {
	cursor: pointer;
	outline: none;
	color: var(--dark);
}
#monitor:not(.off) button:active,
#monitor:not(.off) #themes button.active {
	background-color: var(--color);
	position: relative;
}
#monitor:not(.off) #themes button.active:before {
	content: " ";
	position: absolute;
	width: 100%;
	height: 100%;
	box-shadow: 0.6px 0px 25px -3px var(--color);
	left: 0;
	top: 0;
	border-radius: 50%;
}

#themes {
	display: inline-block;
}

#themes button {
	width: 3rem;
	height: 3rem;
	margin: 0.5rem;
	border: 0.25rem solid var(--dark);
	border-radius: 50%;
	box-shadow: inset 0 0 10px 0 #000;
	cursor: pointer;
	outline: none;
}

.smallText{
	font-family: monospace, monospace;
	font-size: 0.8rem !important;
	white-space:pre;
	text-align: center;
}

.button-outer{
	width: 100%;
	text-align: center;
}

.button-inner{
	padding: 1em;
	display: inline-block;
}

.terminal-button{
	animation: textShadow 4s infinite;
	transition-duration: 0.3s;
	font-family: VT323;
	font-size: max(2rem, 4vmin);
	background-color: rgba(0, 0, 0, 0);
	color: #5bf870;
	border: 2px solid #5bf870;
	border-radius: 4px;
  }
.terminal-button:hover{
	background-color: #5bf870;
	color: #05321e;
}

#frame{
	font-family: VT323;
	font-size: max(2rem, 4vmin);
	width: calc(100% - 60px - 6vmin);
	position: fixed;
  }
#menuBar{
	padding: 0.3em;
	display: block;
	overflow: auto;
	border: 2px solid #5bf870;
	border-radius: 5px 5px 0px 0px;
	color: #5bf870;
	text-align: left;
}
#closeBrowser{
	font-family: VT323;
	font-size: max(2rem, 4vmin);
	float: right;
	transition-duration: 0.3s;
	  background-color: rgba(0, 0, 0, 0);
	  color: #5bf870;
	  border: 2px solid #5bf870;
	  border-radius: 4px;
}
#closeBrowser:hover{
	  background-color: #5bf870;
	  color: #05321e;
}
#frameBox{
	width: auto;
	border: 2px solid #5bf870;
	border-top: 0px !important;
	border-radius: 0px 0px 5px 5px;
	height: calc(90vh - 60px - 6vmin);
	overflow: hidden;
}
#iframe{
	width: 100%;
	 box-sizing: border-box;
	 height: calc(90vh - 60px - 6vmin);
}
.noPadding{
	padding: 0px;
}

a {
	padding: 1px 6px;
	text-decoration: none !important;
	text-transform: none !important;
	outline: none;

  }

button[data-theme="red"] {
	background: var(--red-bg);
	border-color: var(--red-color);
}
button[data-theme="green"] {
	background: var(--green-bg);
	border-color: var(--green-color);
}
button[data-theme="blue"] {
	background: var(--blue-bg);
	border-color: var(--blue-color);
}

/*********** RANDOM OTHER STUFF *************/

.access-granted {
	animation: flicker 2s infinite;
	position: fixed;
	text-align: center;
	background: var(--bg);
	border: 2px solid var(--color);
	padding: 10px 30px;
	left: 50%;
	top: 40%;
	transform: translateX(-50%);
	z-index: 999;
}
/*********** MEDIA QUERIES *************/

/* For really small screens, only show fullscreen mode */
@media only screen and (max-width: 425px), (max-height: 425px) {
	#crt {
		position: fixed;
		left: 0;
		top: 0;
		width: 100vw;
		height: 100vh;
	}

	#controls {
		display: none;
	}
	#slider {
		display: initial;
		position: fixed;
		top: 50%;
		right: 50%;
		opacity: 1;
		transition: top 1s ease-out, right 1s ease-out,
			opacity 1s ease-out;
		animation: glow 3s ease-in-out infinite;
	}
	#slider.on {
		top: 10px;
		right: 10px;
		opacity: 0.2;
		animation: none;
	}
}

/* Some fixes for smaller screens */
@media only screen and (max-width: 500px) {
	.smallText{
		font-size: 0.3rem !important;
	}
	#frame{
		width: 100%;
		height: 100%;
		padding: 1rem;
	}
	#frameBox, #iframe{
		height: calc(100vh - 6rem);
	}
	
	.post-it,
	#themes,
	#volume {
		display: none;
	}

	#power {
		width: 100%;
		justify-content: space-around;
	}
}
@media only screen and (min-width: 501px) and (max-width: 1350px) {
	.smallText{
		font-size: 0.6rem !important;
	}
}
@media only screen and (min-width: 800px) {
	
	#themes {
		flex-direction: row;
	}
	.post-it {
		font-size: 2rem;
	}
}
